# EDA-1 Assignment
Submission by Sanidhya Singh

## Problem 1

### Task 1

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [9]:
cars = pd.read_csv('Data/imports-85.data')
cars.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [20]:
cars_title=['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors','body-style','drive-wheels','engine-location','wheel-base','length','width','height','curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system','bore','stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']
cars.columns = cars_title
cars.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [19]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          204 non-null    int64
 1   normalized-losses  204 non-null    object
 2   make               204 non-null    object
 3   fuel-type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       204 non-null    object
 6   body-style         204 non-null    object
 7   drive-wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         204 non-null    float64
 10  length             204 non-null    float64
 11  width              204 non-null    float64
 12  height             204 non-null    float64
 13  curb-weight        204 non-null    int64
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  engine-size        204 non-null    int64
 17  fuel-system        204 non-null    object
 18  bore               204 non-null    object
 19  stroke             204 non-null    object
 20  compression-ratio  204 non-null    float64
 21  horsepower         204 non-null    object
 22  peak-rpm           204 non-null    object
 23  city-mpg           204 non-null    int64
 24  highway-mpg        204 non-null    int64
 25  price              204 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

#### <b>Handling Missing Values</b>

From the description of the data 

```
8. Missing Attribute Values: (denoted by "?")
   Attribute #:   Number of instances missing a value:
   2.             41
   6.             2
   19.            4
   20.            4
   22.            2
   23.            2
   26.            4 
```
Note: The column numbers are starting from 1.

- ##### `normalized-losses`

In [27]:
cars['normalized-losses'] = cars['normalized-losses'].str.replace('?','NaN').astype(float)

/tmp/ipykernel_396/728605006.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cars["normalized-losses"] = cars["normalized-losses"].str.replace('?','NaN').astype(float)

- ##### `num-of-doors`

Upon overview of the data it can be said that the missing values of `num-of-doors` can be rightfully replaced by the most frequent value of the cars of the same body-type.

In [28]:
cars[cars['num-of-doors']=='?']

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
26,1,148.0,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558.0
62,0,NaN,mazda,diesel,std,?,sedan,fwd,front,98.8,...,122,idi,3.39,3.39,22.7,64,4650,36,42,10795.0

Since both the missing values in `num-of-doors` are of `sedan` type, we replace both the entries with the mode for `sedan`.

In [40]:
sedan_mode = cars[cars['body-style']=='sedan']['num-of-doors'].mode(dropna=True)[0]
cars['num-of-doors'] = cars['num-of-doors'].str.replace('?',sedan_mode)
cars.loc[[26,62]]

/tmp/ipykernel_396/1092558122.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cars['num-of-doors'] = cars['num-of-doors'].str.replace('?',sedan_mode)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
26,1,148.0,dodge,gas,turbo,four,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558.0
62,0,NaN,mazda,diesel,std,four,sedan,fwd,front,98.8,...,122,idi,3.39,3.39,22.7,64,4650,36,42,10795.0

In [ ]:
cars['normalized-losses'] = cars['normalized-losses'].str.replace('?','NaN').astype(float)

As mentioned in the description file, `price` column has absent values which are currently represented by `'?'`, also evident in the `object` datatype of the column, we fix this in the next cell.

In [23]:
cars["price"] = cars["price"].str.replace('?','NaN').astype(float)

/tmp/ipykernel_396/3532337182.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cars["price"] = cars["price"].str.replace('?','NaN').astype(float)

In [24]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          204 non-null    int64
 1   normalized-losses  204 non-null    object
 2   make               204 non-null    object
 3   fuel-type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       204 non-null    object
 6   body-style         204 non-null    object
 7   drive-wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         204 non-null    float64
 10  length             204 non-null    float64
 11  width              204 non-null    float64
 12  height             204 non-null    float64
 13  curb-weight        204 non-null    int64
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  engine-size        204 non-null    int64
 17  fuel-system        204 non-null    object
 18  bore               204 non-null    object
 19  stroke             204 non-null    object
 20  compression-ratio  204 non-null    float64
 21  horsepower         204 non-null    object
 22  peak-rpm           204 non-null    object
 23  city-mpg           204 non-null    int64
 24  highway-mpg        204 non-null    int64
 25  price              200 non-null    float64
dtypes: float64(6), int64(5), object(15)
memory usage: 41.6+ KB

In [25]:
cars.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg,price
count,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,200.000000
mean,0.823529,98.806373,174.075000,65.916667,53.749020,2555.602941,126.892157,10.148137,25.240196,30.769608,13205.690000
std,1.239035,5.994144,12.362123,2.146716,2.424901,521.960820,41.744569,3.981000,6.551513,6.898337,7966.982558
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.500000,166.300000,64.075000,52.000000,2145.000000,97.000000,8.575000,19.000000,25.000000,7775.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,119.500000,9.000000,24.000000,30.000000,10270.000000
75%,2.000000,102.400000,183.200000,66.900000,55.500000,2939.250000,142.000000,9.400000,30.000000,34.500000,16500.750000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000,45400.000000

---

### Task 3

In [31]:
pokemons = pd.read_csv('./Data/pokedex_(Update_05.20).csv')
pokemons.head()

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [32]:
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028 entries, 0 to 1027
Data columns (total 51 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1028 non-null   int64
 1   pokedex_number    1028 non-null   int64
 2   name              1028 non-null   object
 3   german_name       938 non-null    object
 4   japanese_name     938 non-null    object
 5   generation        1028 non-null   int64
 6   status            1028 non-null   object
 7   species           1028 non-null   object
 8   type_number       1028 non-null   int64
 9   type_1            1028 non-null   object
 10  type_2            542 non-null    object
 11  height_m          1028 non-null   float64
 12  weight_kg         1027 non-null   float64
 13  abilities_number  1028 non-null   int64
 14  ability_1         1025 non-null   object
 15  ability_2         513 non-null    object
 16  ability_hidden    810 non-null    object
 17  total_points      1028 non-null   float64
 18  hp                1028 non-null   float64
 19  attack            1028 non-null   float64
 20  defense           1028 non-null   float64
 21  sp_attack         1028 non-null   float64
 22  sp_defense        1028 non-null   float64
 23  speed             1028 non-null   float64
 24  catch_rate        924 non-null    float64
 25  base_friendship   924 non-null    float64
 26  base_experience   924 non-null    float64
 27  growth_rate       1027 non-null   object
 28  egg_type_number   1028 non-null   int64
 29  egg_type_1        1025 non-null   object
 30  egg_type_2        282 non-null    object
 31  percentage_male   792 non-null    float64
 32  egg_cycles        1027 non-null   float64
 33  against_normal    1028 non-null   float64
 34  against_fire      1028 non-null   float64
 35  against_water     1028 non-null   float64
 36  against_electric  1028 non-null   float64
 37  against_grass     1028 non-null   float64
 38  against_ice       1028 non-null   float64
 39  against_fight     1028 non-null   float64
 40  against_poison    1028 non-null   float64
 41  against_ground    1028 non-null   float64
 42  against_flying    1028 non-null   float64
 43  against_psychic   1028 non-null   float64
 44  against_bug       1028 non-null   float64
 45  against_rock      1028 non-null   float64
 46  against_ghost     1028 non-null   float64
 47  against_dragon    1028 non-null   float64
 48  against_dark      1028 non-null   float64
 49  against_steel     1028 non-null   float64
 50  against_fairy     1028 non-null   float64
dtypes: float64(32), int64(6), object(13)
memory usage: 409.7+ KB

> How many Pokemon are in each Generation?

In [33]:
pokemons['generation'].value_counts().sort_index()

1    192
2    107
3    165
4    121
5    171
6     85
7     99
8     88
Name: generation, dtype: int64

> Who is the most powerful pokemon ?

Assuming the pokemon with the maximum points will be the most powerful pokemon.

In [39]:
print(f"The most powerful pokemon: {pokemons['name'][pokemons['total_points'].argmax()]}")

The most powerful pokemon: Eternatus Eternamax

- Verification of the result:

According to win.gg:
[The Eternamax version of Eternatus is the strongest Pokemon in the history of the series.](https://win.gg/news/all-there-is-to-know-about-eternatus-in-pokemon-sword-and-shield/#:~:text=Is%20Eternatus%20the%20strongest%20Pokemon,such%20as%20Mew%20and%20Tyranitar.)

> In terms of dual types (Pokemon with 2 different types), What is the most common combination?

In [34]:
pokemons['types']=pokemons['type_1']+" and "+pokemons['type_2']
print(f"The most frequent combination of two types: {pokemons['types'].value_counts().idxmax()}")

The most frequent combination of two types: Normal and Flying

> Present the names of the Pokemons having Maximum and Minimum Feature Values corresponding to `attack` , `defense` , `sp_attack` , `sp_defense` , `hp` , `speed` and `catch_rate`.

In [35]:
features = ['attack','defense','sp_attack','sp_defense','hp','speed','catch_rate']
minmax = {'features': features,
          'minimum': [pokemons['name'][pokemons[feature].argmin()] for feature in features],
          'maximum': [pokemons['name'][pokemons[feature].argmax()] for feature in features]}
minmax = pd.DataFrame(minmax)
minmax

     features           minimum              maximum
0      attack           Chansey        Mega Mewtwo X
1     defense           Chansey  Eternatus Eternamax
2   sp_attack  Alolan Sandshrew        Mega Mewtwo Y
3  sp_defense          Caterpie  Eternatus Eternamax
4          hp          Shedinja              Blissey
5       speed           Shuckle   Deoxys Speed Forme
6  catch_rate          Articuno             Caterpie