# EDA-1 Assignment
Submission by Sanidhya Singh

## Problem 1

### Task 1

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

### Task 3

In [31]:
pokemons = pd.read_csv('./Data/pokedex_(Update_05.20).csv')
pokemons.head()

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [32]:
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028 entries, 0 to 1027
Data columns (total 51 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1028 non-null   int64
 1   pokedex_number    1028 non-null   int64
 2   name              1028 non-null   object
 3   german_name       938 non-null    object
 4   japanese_name     938 non-null    object
 5   generation        1028 non-null   int64
 6   status            1028 non-null   object
 7   species           1028 non-null   object
 8   type_number       1028 non-null   int64
 9   type_1            1028 non-null   object
 10  type_2            542 non-null    object
 11  height_m          1028 non-null   float64
 12  weight_kg         1027 non-null   float64
 13  abilities_number  1028 non-null   int64
 14  ability_1         1025 non-null   object
 15  ability_2         513 non-null    object
 16  ability_hidden    810 non-null    object
 17  total_points      1028 non-null   float64
 18  hp                1028 non-null   float64
 19  attack            1028 non-null   float64
 20  defense           1028 non-null   float64
 21  sp_attack         1028 non-null   float64
 22  sp_defense        1028 non-null   float64
 23  speed             1028 non-null   float64
 24  catch_rate        924 non-null    float64
 25  base_friendship   924 non-null    float64
 26  base_experience   924 non-null    float64
 27  growth_rate       1027 non-null   object
 28  egg_type_number   1028 non-null   int64
 29  egg_type_1        1025 non-null   object
 30  egg_type_2        282 non-null    object
 31  percentage_male   792 non-null    float64
 32  egg_cycles        1027 non-null   float64
 33  against_normal    1028 non-null   float64
 34  against_fire      1028 non-null   float64
 35  against_water     1028 non-null   float64
 36  against_electric  1028 non-null   float64
 37  against_grass     1028 non-null   float64
 38  against_ice       1028 non-null   float64
 39  against_fight     1028 non-null   float64
 40  against_poison    1028 non-null   float64
 41  against_ground    1028 non-null   float64
 42  against_flying    1028 non-null   float64
 43  against_psychic   1028 non-null   float64
 44  against_bug       1028 non-null   float64
 45  against_rock      1028 non-null   float64
 46  against_ghost     1028 non-null   float64
 47  against_dragon    1028 non-null   float64
 48  against_dark      1028 non-null   float64
 49  against_steel     1028 non-null   float64
 50  against_fairy     1028 non-null   float64
dtypes: float64(32), int64(6), object(13)
memory usage: 409.7+ KB

> How many Pokemon are in each Generation?

In [33]:
pokemons['generation'].value_counts().sort_index()

1    192
2    107
3    165
4    121
5    171
6     85
7     99
8     88
Name: generation, dtype: int64

> Who is the most powerful pokemon ?

Assuming the pokemon with the maximum points will be the most powerful pokemon.

In [39]:
print(f"The most powerful pokemon: {pokemons['name'][pokemons['total_points'].argmax()]}")

The most powerful pokemon: Eternatus Eternamax

##### Verification of the result
According to win.gg:
[The Eternamax version of Eternatus is the strongest Pokemon in the history of the series.](https://win.gg/news/all-there-is-to-know-about-eternatus-in-pokemon-sword-and-shield/#:~:text=Is%20Eternatus%20the%20strongest%20Pokemon,such%20as%20Mew%20and%20Tyranitar.)

> In terms of dual types (Pokemon with 2 different types), What is the most common combination?

In [34]:
pokemons['types']=pokemons['type_1']+" and "+pokemons['type_2']
print(f"The most frequent combination of two types: {pokemons['types'].value_counts().idxmax()}")

The most frequent combination of two types: Normal and Flying

> Present the names of the Pokemons having Maximum and Minimum Feature Values corresponding to `attack` , `defense` , `sp_attack` , `sp_defense` , `hp` , `speed` and `catch_rate`.

In [35]:
features = ['attack','defense','sp_attack','sp_defense','hp','speed','catch_rate']
minmax = {'features': features,
          'minimum': [pokemons['name'][pokemons[feature].argmin()] for feature in features],
          'maximum': [pokemons['name'][pokemons[feature].argmax()] for feature in features]}
minmax = pd.DataFrame(minmax)
minmax

     features           minimum              maximum
0      attack           Chansey        Mega Mewtwo X
1     defense           Chansey  Eternatus Eternamax
2   sp_attack  Alolan Sandshrew        Mega Mewtwo Y
3  sp_defense          Caterpie  Eternatus Eternamax
4          hp          Shedinja              Blissey
5       speed           Shuckle   Deoxys Speed Forme
6  catch_rate          Articuno             Caterpie